# Python Crash Course

This notebook will just go through the basic topics in order:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if, elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods

## Data types

### Numbers

In [1]:
1 + 1

2

In [2]:
1 * 3

3

In [3]:
1 / 2

0.5

In [4]:
2 ** 4

16

In [5]:
4 % 2

0

In [6]:
5 % 2

1

In [7]:
(2 + 3) * (5 + 5)

50

### Variable Assignment

In [8]:
# Can not start with number or special characters
name_of_var = 2

In [9]:
x = 2
y = 3

In [10]:
z = x + y

In [11]:
z

5

### Strings

In [12]:
'single quotes'

'single quotes'

In [13]:
"double quotes"

'double quotes'

In [14]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

### Printing

In [15]:
x = 'hello'

In [16]:
x

'hello'

In [17]:
print(x)

hello

In [18]:
num = 7
name = 'Ajay'

In [19]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

My number is: 7, and my name is: Ajay

In [20]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 7, and my name is: Ajay

In [21]:
S='abcdefghijklmno'

In [22]:
S[2]

'c'

In [23]:
S[3:] #take from certain index

'defghijklmno'

In [24]:
S[:3] #take to certain index

'abc'

### Lists

In [25]:
[1,2,3]

[1, 2, 3]

In [26]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [27]:
my_list = ['a','b','c']

In [28]:
my_list.append('d')

In [29]:
my_list

['a', 'b', 'c', 'd']

In [30]:
my_list[0]

'a'

In [31]:
my_list[1]

'b'

In [32]:
my_list[1:]

['b', 'c', 'd']

In [33]:
my_list[:1]

['a']

In [34]:
my_list[0] = 'NEW'

In [35]:
my_list

['NEW', 'b', 'c', 'd']

In [36]:
nest = [1,2,3,[4,5,['target','here']]]

In [37]:
nest[3]

[4, 5, ['target', 'here']]

In [38]:
nest[3][2]

['target', 'here']

In [39]:
nest[3][2][0]

'target'

### Dictionaries

In [40]:
d = {'key1':'item1','key2':'item2'}

In [41]:
d

{'key1': 'item1', 'key2': 'item2'}

In [42]:
d['key1']

'item1'

In [43]:
dic={'k1':[1,2,3],'k2':[1,[2,3],4,[5,6]]}

In [44]:
dic['k2']

[1, [2, 3], 4, [5, 6]]

In [45]:
dic['k2'][3]

[5, 6]

In [46]:
d={'k1':{'ik':[1,2,[2,3],5]}}

In [47]:
d['k1']['ik'][2]

[2, 3]

### Booleans

In [48]:
True

True

In [49]:
False

False

### Tuples

In [50]:
t = (1,2,3)#uses () #immutable

In [51]:
t[0]

1

In [52]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

### Sets

In [53]:
set={1,2,3}

In [54]:
set

{1, 2, 3}

In [55]:
s={1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2} #can only have unique element

In [56]:
s.add(4);s.add(5);

In [57]:
s

{1, 2, 3, 4, 5}

## Comparison Operators

In [58]:
1 > 2

False

In [59]:
1 < 2

True

In [60]:
1 >= 1

True

In [61]:
1 <= 4

True

In [62]:
1 == 1

True

In [63]:
1!=5

True

In [64]:
'hi' == 'bye'

False

## Logic Operators

In [65]:
(1 > 2) and (2 < 3)

False

In [66]:
(1 > 2) or (2 < 3)

True

In [67]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if,elif, else Statements

In [68]:
if 1 < 2:
    print('Yep!')

Yep!

In [69]:
if 1 < 2:
    print('yep!')

yep!

In [70]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [71]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [72]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

## for Loops

In [73]:
seq = [1,2,3,4,5]

In [74]:
for item in seq:
    print(item)

1
2
3
4
5

In [75]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [76]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

## while Loops

In [77]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

## range()

In [78]:
range(5)

range(0, 5)

In [79]:
for i in range(5):
    print(i)

0
1
2
3
4

In [80]:
list(range(5))

[0, 1, 2, 3, 4]

## list comprehension

In [81]:
x = [1,2,3,4]

In [82]:
out = []
for item in x:
    out.append(item**3)
print(out)

[1, 8, 27, 64]

In [83]:
x

[1, 2, 3, 4]

In [84]:
lc=[item**2 for item in x]

In [85]:
lc

[1, 4, 9, 16]

## functions

In [86]:
def my_func(param1='Ajay'):
    """
    Docstring goes here.
    """
    print('Hello ' +param1)

In [87]:
my_func

In [88]:
my_func()

Hello Ajay

In [89]:
my_func('Chandran')

Hello Chandran

In [90]:
my_func(param1='new Guy')

Hello new Guy

In [91]:
def square(x):
    """this function square number"""
    return x**2

In [92]:
out = square(2) #press Shift tab to get more information of the function

In [93]:
print(out)

4

## lambda expressions

In [94]:
def times2(var):
    return var*2

In [95]:
times2(12)

24

In [96]:
def times2(var):return var*2 # getting rid of 'def','return' and name of the funtion 'times2'

In [97]:
times2(3)

6

In [98]:
lambda var: var*2

In [99]:
lam=lambda var: var*2

In [100]:
lam(4)

8

## map and filter

In [101]:
seq = [1,2,3,4,5]

In [102]:
map(times2,seq)#map-> loop to seq list to a function

In [107]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [108]:
t=list(map(times2,seq))

In [109]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [111]:
filter(lambda item: item%2 == 0,seq)#Filtering out which match the condition

In [113]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

## methods

In [115]:
st = 'hello my name is Ajay'

In [116]:
st.lower()

'hello my name is ajay'

In [117]:
st.upper()

'HELLO MY NAME IS AJAY'

In [119]:
st.split()# split into list

['hello', 'my', 'name', 'is', 'Ajay']

In [120]:
tweet = 'Go Sports! #Sports'

In [121]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [122]:
tweet.split('#')[1]

'Sports'

In [128]:
d={'key1':'item1','key2':'item2'}

In [129]:
d.keys()

dict_keys(['key1', 'key2'])

In [130]:
d.items()

dict_items([('key1', 'item1'), ('key2', 'item2')])

In [135]:
lst = [1,2,3]

In [136]:
lst.pop()# act like stack and remove last

3

In [137]:
lst

[1, 2]

In [138]:
'x' in [1,2,3] #search a valuei in

False

In [110]:
'x' in ['x','y','z']

True

# Day 1 Complete